.App {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p {
  min-width: 420px;
  color: grey;
}

@media (min-width: 500px) {
  p {
    font-size: 6rem;
    min-width: 10em;
  }

  h1 {
    font-size: 6rem;
  }
}